#
# Define additional options used in moto releases
#
# dont touch ! really required, checked with kallsyms
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_SCHED_DEBUG=y
CONFIG_OMAP_MBOX_FWK=y

#
# ext4 kernel module
#
CONFIG_EXT4_FS=m
CONFIG_EXT4_FS_XATTR=y
# CONFIG_EXT4_FS_POSIX_ACL is not set
# CONFIG_EXT4_FS_SECURITY is not set
# CONFIG_EXT4_DEBUG is not set
CONFIG_JBD2=m

