#
# Define additional options used in moto releases
#
# dont touch ! really required, checked with kallsyms
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_SCHED_DEBUG=y
CONFIG_OMAP_MBOX_FWK=y

#
# ext4 kernel module
#
CONFIG_EXT4_FS=m
CONFIG_EXT4_FS_XATTR=y
# CONFIG_EXT4_FS_POSIX_ACL is not set
# CONFIG_EXT4_FS_SECURITY is not set
# CONFIG_EXT4_DEBUG is not set
CONFIG_JBD2=m

#
# Netfilters ipv4 and ipv6
#
CONFIG_NETFILTER_XT_TARGET_TCPMSS=m
CONFIG_NETFILTER_XT_MATCH_TCPMSS=m
CONFIG_IP_NF_MANGLE=m
CONFIG_IP_NF_RAW=m
CONFIG_IP6_NF_IPTABLES=m
CONFIG_IP6_NF_FILTER=m
CONFIG_IP6_NF_MANGLE=m
CONFIG_IP6_NF_RAW=m
CONFIG_IP6_NF_TARGET_REJECT=m
CONFIG_IP6_NF_TARGET_LOG=m

# To build the SGX DDK
CONFIG_SGX_530_BUILD_RELEASE=y
CONFIG_SGX_REV125=y
CONFIG_SGX=y
CONFIG_SGX_CORE_REV=125
CONFIG_SGX_BUILD_RELEASE=y

# Other differences
CONFIG_CMDLINE="console=ttyS2,115200n8 rw mem=498M@0x80C00000 init=/init brdrev=P3A mmcparts=mmcblk1:p7(pds),p15(boot),p16(recovery),p17(cdrom),p18(misc),p19(cid),p20(kpanic),p21(system),p22(prek),p23(pkbackup),p24(cache),p25(userdata) ip=192.168.10.200:192.168.10.1:192.168.10.1:255.255.255.0:tgt:eth0:off androidboot.bootloader=0x0000 androidboot.mode=reboot "
